<h1>Edit Profile <%= 'or '+link_to('Skip This Step', profile_path(@p)) if flash[:notice]=="Thanks for signing up!" %></h1>


<div id="sub_nav">
<%= link_to 'View Public Profile', profile_path(@p).add_param(:public_view=>true)%>
<%= link_to('&larr; Jump to Dashboard', @p) if @p %>  
</div>

<div class="left half">
  <div id="general_info">
    <% less_form_for @p, :html=>{:method=>:put, :class=>"box no_top"} do |p| %>
      <h2><%= "General info" %></h2>

      <%= p.front :email %>
      <input type="text" name="profile[email]" id="profile_email" value="<%= params[:profile].blank? || params[:profile][:email].blank? ? @p.email : params[:profile][:email] %>">
      <%= error_messages_on(:profile, :email) %>
      <%= p.back %>

      <%= p.text_field :first_name %>   
      <%= p.text_field :last_name %>
      <%= p.text_field :location %>    
      <%= p.text_field :website %>
      <%= p.text_field :flickr %>  
      <%= p.text_field :youtube_username %>    
      <%= p.text_field :flickr_username %>    
      <%= p.text_field :blog %>    
      <%= p.text_field :aim_name, :label=>'AIM Name:' %>
      <%= p.text_field :gtalk_name, :label=>'GTalk Name:' %>
      <%= p.text_field :ichat_name, :label=>'iChat Name:' %>
      <%= p.text_field :irc_name, :label=>'IRC:' %>
      <%= p.text_field :echolink_name, :label=>'Echolink Node:' %>
      <%= p.text_field :irlp_name, :label=>'IRLP Node:' %>
      <%# p.text_field :twitter_name, :label=>'Twitter Name:' %>
      <%# p.text_field :twitter_pass, :label=>'Twitter Password (required to tweet under your profile):' %>
      <%= p.text_field :skype_name, :label=>'Skype Name:' %>
      <%= p.check_box :aprs , :label=>'Got APRS?:' %>    
      <%= p.text_field :aprs_suffix, :label=>'APRS Suffix (Enter Digits Only):' %>
      <%= p.check_box :supresssummary , :label=>'Stop receiving emails from 73s?:' %>    
      <%= p.text_area :about_me %>
      
      <div class="row button">
      <%= p.submit 'Save', :class => 'button' %>
      </div>
    
      <input type="hidden" name="switch" value="name" />
    <% end %>
  </div>

  <div class="clear"></div>
</div>









<div class="right half">
	
  <div id="upload_icon">
	<form>
      <h2><%= "Your Avatar" %></h2>
		<%= image_tag @p.gravatar_url, :width => "50"%>
		<%= link_to 'Change Avatar', 'http://gravatar.com'%>
	</form>
  </div>


  <div id="change_passwords">
    <% less_form_for @p, :html=>{:method=>:put, :class=>"box no_top"} do |p| %>
      <h2><%= "Change Password" %></h2>

      <%= p.front :current_password, :for => :verify_password %>
        <input type="password" name="verify_password" id="verify_password" />
        <%= error_messages_on(:user, :password) %>
      <%= p.back %>

      <%= p.front :new_password, :for => :new_password %>
        <input type="password" name="new_password" id="new_password" />
        <%= error_messages_on(:user, :new_password) %>
      <%= p.back %>

      <%= p.front :confirm_password, :for => :confirm_password %>
        <input type="password" name="confirm_password" id="confirm_password" />
      <%= p.back %>

      <div class="row button">
      <%= p.submit 'Save', :class => 'button' %>
      </div>
      
      <input type="hidden" name="switch" value="password" />
    <% end %>
  </div>

<div id="Twitter">
<form>
<h2><%= 'Connect 73s to Twitter' %></h2>
<% if @p.user.access_token.nil? %>
	<form>
	<%= link_to 'Authorize!', '/connect'%>
	</form>  
<% else %>
	<%= link_to 'De-Authorize', '/twitter/deauthorize/' + @p.id.to_s %>
<% end %>
</form>
</div>


  <div id="change_passwords">
    <% less_form_for @p, :html=>{:method=>:put, :class=>"box no_top"} do |p| %>
      <h2><%= "Change CallSign" %></h2>

      <%= p.front :new_callsign, :for => :callsign %>
        <input type="text" name="callsign" id="callsign" />
        <%= error_messages_on(:user, :callsign) %>
      <%= p.back %>

      <div class="row button">
      <%= p.submit 'Save', :class => 'button' %>
      </div>
      
      <input type="hidden" name="switch" value="callsign" />
    <% end %>
  </div>


  <div id="delete_account">
        <form>
      <h2><%= "Delete Account" %></h2>
      
      <%= link_to_remote 'Delete my user account and all my data.', :url=>profile_path(@p), :method=>:delete, :confirm=>DELETE_CONFIRM  %>
        </form>
  </div>

  <div class="clear"></div>
</div>











