<h1>New article</h1>

<% form_for(@article) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :product_id %><br />
    <%= f.text_field :product_id %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :publishdate %><br />
    <%= f.date_select :publishdate %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', articles_path %>