<% for status in @status %>
	<% if !status.profile.id.blank? and !status.message.blank? %>

	<table width="100%" cellspacing="0" cellpadding="0" border="0" style="background-image: url(/images/dashed_horizontal.gif); background-position: center top; background-repeat: repeat-x; margin-bottom: 5px;">
		<tbody>
			<tr>
				<td style="padding-top: 1px;" colspan="2">
					<div class="box_section_head">
						Posted <%= time_ago_in_words status.created_at  %>
					</div>
				</td>
			</tr>
			<tr>
				<td valign="top" style="padding-left: 8px; width: 89px;">
					<%= icon status.profile, :small, :class => 'left avatar_on_comment'   rescue "" %>
					<%= link_to h(status.profile.user.login), status.profile  rescue ""%>
				</td>
				<td class="feature_summary" valign="top" style="padding-left: 8px; width: 306px;">

<%
					@txt = status.message
					@linkmessage = @txt.gsub(/(@)((?:[a-z][a-z]*[0-9]+[a-z0-9]*))/i) {|s| '<a href=/'+s[1..1000]+'>'+s+'</a>'}
					@linkmessage = @linkmessage.gsub(/https?:\/\/([^\/]+)(.*)/) {|s| '<a href='+s+'>'+s+'</a>'}
%>
					<p><a href="#" onclick="addLink('<%= status.profile.user.login rescue ""%>');"><img src="/images/reply.gif" align="right"></a>
						<strong><!a href="/<%= status.profile.user.login  rescue "" %>/mystatus"><%# status.profile.user.login  rescue "" %> <%= @linkmessage  %><!/a></strong>
					</p>
				</td>
			</tr>
		</tbody>
	</table>

	<% end %>
<% end %>