<h1>New event</h1>

<%= error_messages_for :event %>

<% form_for(@event) do |f| %>
  <p>
    <b>Eventname</b><br />
    <%= f.text_field :eventname %>
  </p>

  <p>
    <b>Eventdesc</b><br />
    <%= f.text_area :eventdesc %>
  </p>

  <p>
    <b>Eventdate</b><br />
    <%= f.date_select :eventdate %>
  </p>

  <p>
    <b>Starttime</b><br />
    <%= f.datetime_select :starttime %>
  </p>

  <p>
    <b>Endtime</b><br />
    <%= f.datetime_select :endtime %>
  </p>

  <p>
    <b>Eventcountry</b><br />
    <%= f.text_field :eventcountry %>
  </p>

  <p>
    <b>Eventstate</b><br />
    <%= f.text_field :eventstate %>
  </p>

  <p>
    <b>Eventcity</b><br />
    <%= f.text_field :eventcity %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', events_path %>
