<p>
  <b>Episode:</b>
  <%=h @hambrief.episode %>
</p>

<p>
  <b>Title:</b>
  <%=h @hambrief.title %>
</p>

<p>
  <%= @hambrief.embedcode %>
</p>

<p>
  <b>Description:</b>
  <%=h @hambrief.description %>
</p>


<% if @u != nil && @u.is_admin %>
<%= link_to 'Edit', edit_hambrief_path(@hambrief) %> |
<% end %>
<%= link_to 'Back', hambriefs_path %>
