<h1>Editing Gear</h1>

<%= error_messages_for :gear %>

<% form_for(@gear) do |f| %>
  <p>
    <b>Gear Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Gear Description</b><br />
    <%= f.text_area :desc %>
  </p>

  <p>
    <b>Asking Price</b><br />
    $<%= f.text_field :price %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @gear %> |
<%= link_to 'Back', gears_path %>
